p::first-letter{

font-weight: bold;

}

p{
    color: rgba(225, 10, 10, 0.962);
    font-size: xx-large;
    
}
 body{
    background-color: rgb(237, 151, 94);
 }
 .cool-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cool-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #c159b3;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cool-button:hover {
    background-color: #2980b9;